@import url("https://fonts.googleapis.com/css2?family=Montserrat:500");

/*Navegacion*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navegacion{
    width: 100%;
    height: 15vh;
    background-position: center;
    background-size: cover;
}

h1{
    color: white;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 30px 10%;
}

.menu{
    display: flex;
}

.logo{
    cursor: pointer;
    margin-right: auto;
    
}

nav{
    order: 1;
}

.nav_links{
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover, 
.nav_links li a.active
 {
    color:greenyellow
}

button {
    padding: 9px 25px;
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    
}

.signIn {
    order: 2;
}

button:hover{
    background-color: green;
}

/*Navegacion*/

body{
    font-family: sans-serif;
    background-color: black;
}

.encabezado h1{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}



/* lista */
.form-l {
    width: 100%;
    border: 1px solid #017bab;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #ffff;
    font-size: 14px;
    font-weight: bold;
  }
  
.contenedor{
    display: block;
    margin: 0px;
}

.login{
    width: 250px;
    margin:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-l{
    border-radius: 30px;
    margin: 10px 0;
}
.log-emp{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.logo-f{
    margin: auto;
    width: 80px;
    height: 60px;
    cursor: pointer;
}
.button-l{
    margin: 10px;
    padding: 9px 25px;
    background-color: green;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.log-in{
    height: 50%;
    width: 90%;
    border-radius: 10px;
}
button{
    cursor: pointer;
    margin: 6px;
}

@media screen and (max-width: 863px) {
    .ft_log{
        width: 0%;
    }
    .contenedor{
        display: block;
        margin: 0px;
    }
    .login{
        margin:auto;
    }
    
}